@using Common.Models
@{
	ViewData["Title"] = "Orders";
}


<div>
	<button class="btn btn-primary" data-bind="click: openCreatePopup">Add order</button>
</div>

@if (@Model.Count > 0)
{
	<ul class="list-group">
		@{
			foreach (OrderModel item in @Model)
			{
				<li class="list-group-item">
					<div style="display: inline !important">
						<div style="width: 25%; display: inline-block">
							<span>@item.OrderName</span>
						</div>
						<div style="width: 25%; display: inline-block">
							<span>@item.CustomerName</span>
						</div>
						<div style="width: 25%; display: inline-block">
							<span>@item.CategoryType</span>
						</div>
						<div style="width: 25%; display: inline-block">
							<span>@item.MonthlyCost</span>
						</div>
					</div>
				</li>
			}
		}
	</ul>
}
else
{
	<div style="margin-top: 50px; text-align: center ">
		<h2>There are no orders yet.</h2>
	</div>
}


<div class="modal fade" tabindex="-1" role="dialog" id="order-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create Order</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
						<label for="order-name" class="col-sm-4 col-form-label">Order Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="order-name" placeholder="Order Name" data-bind="value: orderName">
						</div>
					</div>
					<div class="form-group row">
						<label for="initial-cost" class="col-sm-4 col-form-label">Customer</label>
						<select class="custom-select">
							<option selected>Select Customer</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="form-group row">
						<label for="initial-cost" class="col-sm-4 col-form-label">Category</label>
						<select class="custom-select">
							<option selected>Select Category</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="form-group row">
						<label for="initial-cost" class="col-sm-4 col-form-label">Initial Cost</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="initial-cost" placeholder="Initial Cost" data-bind="value: initialCost">
						</div>
					</div>
					<div class="form-group row">
						<label for="monthly-cost" class="col-sm-4 col-form-label">Monthly Cost</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="monthly-cost" placeholder="Monthly Cost" data-bind="value: monthlyCost">
						</div>
					</div>
				</form>

				<!-- ko if: showValidationErrors() -->
				<div style="text-align: center; color: firebrick;">
					<span data-bind="text: validationMessage"></span>
				</div>
				<!-- /ko -->

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click: createCustomer">Save Order</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

